@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes run {
    from {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-70%);
    }
    to {
        transform: translateX(0);
    }
}