@media (max-width: 1200px) {
    .promo {
        padding: 21px 0 93px 0;
    }
    .advantage {
        padding: 70px 0 65px 0;
    }
}
@media (max-width: 991px) {
    .promo {
        padding: 21px 15px 93px 15px;
    }
    .advantage {
        padding: 70px 15px 65px 15px;
    }
    .consultation {
        padding: 100px 15px 92px 15px;
    }
    .carousel {
        &__inner {
            width: 100%;
            padding: 0 5px;
            img {
                width: 100%;
            }
            .slick-dots_mod {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    padding: 0 20px;
                    button {
                        display: none;
                    }
                }
            }
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
            padding: 0 7px;
        }
    }
}
@media (max-width: 767px) {
    .promo {
        padding: 21px 22px 93px 22px;
    }
    .advantage {
        padding: 70px 22px 65px 22px;
        &__text {
            max-width: 90%;
            font-size: 16px;
        }
        &__descr {
            font-size: 19px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
            padding: 0 7px;
        }
        &__tab {
            width: 165px;
            height: 50px;
            div {
                font-size: 17px;
            }
        }
    }
    .review {
        padding: 0px 10px;
    }
}
@media (max-width: 575px) {
    .promo {
        padding: 21px 15px 93px 15px;
        &__wrapper {
            align-items: center;
            .button_main {
                width: 275px;
            }
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__icons {
            max-width: 310px;
        }
        &__icon {
            line-height: 16px;
        }
        .header {
            flex-direction: column;
            &__official {
                margin-top: 10px;
                font-size: 17px;
                span {
                    font-size: 18px;
                }
            }
            &__phone {
                margin-top: 10px;
                font-size: 18px;
            }
            &__contacts {
                align-items: center;
                .button {
                    margin-top: 2px;
                    font-size: 13px;
                    width: 250px;
                }
            }
        }
    }
    .advantage {
        &__main {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .feed-form {
        width: 290px;
    }
    .consultation {
        &__descr {
            font-size: 15px;
        }
    }
    .title__left {
        font-size: 22px;
    }
    .catalog {
        &__tabs {
            margin-top: 30px;
        }
        &__tab {
            width: 78px;
            height: 37px;
            div {
                font-size: 8px;
                line-height: 37px;
            }
        }
    }
    .review {
        .title {
            font-size: 26px;
        }
        &__wrapper {
            padding: 0px 10px;
            flex-direction: column;
            img {
                margin-bottom: 18px;
                margin-right: 0;
            }
        }
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
    }
    .footer {
        &__info {
            width: 285px;
            height: 175px;
            padding: 15px 23px 15px 23px;
        }
        &__addr {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 20px;
        }
        &__phone {
            font-size: 18px;
            line-height: 18px;
        }
        &__social {
            margin-top: 20px;
            &-item {
                width: 45px;
                height: 45px;
            }
        }
    }
}