.advantage {
    min-height: 475px;
    padding: 70px 0 65px 0;
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-top: 65px;
        max-width: 300px;
        img {
            max-width: 70px;
            max-height: 70px;
        }
    }
    &__descr {
        margin-top: 30px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &__text {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        max-width: 273px;
        span {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
    #heartbeatanimate {
        animation: heartbeat 2s ease infinite;
        // animation-name
        // animation-duration: ;
        // animation-timing-function: ;
        // animation-iteration-count: ;
        &:hover {
            animation-play-state: paused;
        }
    }
    #shoeanimate {
        animation: run 1.5s ease-out infinite;
    }
}