.button {
    width: 153px;
    height: 32px;
    left: 0px;
    top: 0px;
    background-color: $main_color;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.4s all;
    &:hover {
        box-shadow: 8px 10px 21px 1px rgba(0,0,0,0.8);
        width: 160px;
    }
    &_main {
        width: 303px;
        height: 54px;
        font-size: 16px;
        margin-top: 67px;
        &:hover {
            box-shadow: 8px 10px 21px 1px rgba(0,0,0,0.8);
            width: 310px;
        }
    }
    &_submit {
        width: 100%;
        height: 58px;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        &:hover {
            box-shadow: 8px 10px 21px 1px rgba(0,0,0,0.8);
            width: 101%;
            height: 60px;
        }
    }
}