.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 50px 68px 60px 68px;
    }
    &__addr {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        &:hover {
            color: #fff;
        }
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 53px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #FFFFFF;
        border-radius: 100%;
        margin: 0 15px;
        transition: 0.4s all;
        &:hover {
            box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.53);
        }
        img {
            height: 27px;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 36px;
    }
}