.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../../img/bg/bg.png') center center/cover no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subheader {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-align: right;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__icons {
        display: flex;
        width: 425px;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__icon {
        width: 108px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        text-align: right;
        color: #FFFFFF;
        margin-top: 18px;
        a {
            color: #FFFFFF;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}