.review {
    padding-bottom: 48px;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 60px 0;

        img {
            margin-right: 61px;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 4px;
        color: #646464;
        margin-bottom: 12px;
    }
    &__descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
}