@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url("../fonts/MuseoSansCyrl.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
   }
@font-face {
font-family: 'Museo Sans Cyrl';
src: url("../fonts/MuseoSansCyrl-300.ttf") format("ttf");
font-weight: 300;
font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url("../fonts/MuseoSansCyrl-900.ttf") format("ttf");
    font-weight: 900;
    font-style: normal;
   }